 /* styles.css */
 body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(52, 50, 50);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  
}

.success-container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
}

.success-message {
    animation: bounceIn 1s;
}

h1 {
    font-size: 2.5em;
    color: #4CAF50;
    margin: 0;
    animation: fadeInUp 1s ease-in-out;
}

p {
    font-size: 1.2em;
    color: #555;
    margin: 10px 0;
}

button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

/* Animations */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes bounceIn {
    0% { opacity: 0; transform: scale(0.5); }
    50% { opacity: 1; transform: scale(1.1); }
    100% { transform: scale(1); }
}

@keyframes fadeInUp {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}
